# This is a basic workflow to help you get started with Actions

name: Build README.md


# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '32 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Check out repo
      uses: actions/checkout@v4
    # Runs a set of commands using the runners shell
    - name: Set up Python
      uses: actions/setup-python
      with: 
        python-version: 3.8
    - uses: actions/cache@v2
      name: Configure pip Caching
      with: 
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r requirements.txt
    - name: Update README
      env:
        TOKEN: ${{ secrets.README_BOT }}
      run: |-
        python build_readme.py
        cat README.md
    - name: Commit and push if README changed
      run: |-
        git diff
        git config --global user.email "245193247@qq.com"
        git config --global user.name "readme-bot"
        git add -A
        git commit -m "Updated context" || exit 0
        git push
